body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    /*100%=1em=16px */
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.a {
    color: #11999E;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}

.profile-desc {
    width: 40%;
    margin: auto;
}

.profile-img {
    border-radius: 50%;
    width: 180px;
}

.dotted-line {
    border: none;
    border-bottom: 6px dotted #eaf6f6;
    width: 10%;
    margin: 100px auto;
}

.skills {
    margin: 50px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

p {
    line-height: 2;
}

.network-img,
.budget-img,
.product-img,
.code-img {
    width: 25%;
}

.product-img,
.code-img {
    float: right;
    margin-left: 30px;
}

.network-img,
.budget-img {
    float: left;
    margin-right: 30px;
}

/* .product-desc,
.code-desc {
    clear: right;
}

.network-desc,
.budget-desc {
    clear: left;
} */

.contact-me {
    margin: 0 auto;
}

.contact-msg {
    width: 50%;
    margin: 40px auto 60px;
}

.contact-me-btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.contact-me-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2cb4ad);
    text-decoration: none;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 50px 0 20px;
    /*100%=1em=16px */
    margin-top: 50px;
}

.footer-link {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #eaf6f6;
}

.footer-disclaimer {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.icons-disclaimer {
    font-size: 0.5rem;
}